# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules
/bin
/tests_output

# testing
/coverage

# production
/build

# misc
.next
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
