@import '../../_sass/_constants.sass'

.nav-arrow
  display: flex
  flex-direction: column
  align-items: center
  width: 100%
  opacity: 0.8
  font-size: 0.773rem
  color: $black
  text-transform: lowercase
  text-decoration: none


.nav-arrow__arrow
  max-width: 3rem

.nav-arrow--down
  margin-top: 2.023rem

.nav-arrow--down>.nav-arrow__arrow
  order: 1
