@import '../../_sass/_constants.sass'
@import '../../_sass/_breakpoints.sass'

=make-line($w)
  content: ""
  display: inline-block
  width: $w
  height: 0.2rem
  border-top: 2px solid $mid-grey

.project-entry
  display: flex
  align-items: center
  justify-content: space-between
  margin: 0 auto
  width: 90%
  max-width: 1200px
  overflow-x: hidden

// HEADER ______________________________________________________________________
.project__title
  margin: 0
  font-size: 2.945rem
  color: $primary
  text-align: right

.project__type
  margin: 0
  font-size: 1.82rem
  text-align: right
  margin-top: -2rem
  +anti-aliased
  &::before
    +make-line(45rem)
    position: relative
    left: -22rem
    margin-bottom: -1.775rem

// IMAGE _______________________________________________________________________
.project__img-container
  width: 46%
  text-align: center
  position: relative
  z-index: 3

// TEXT ________________________________________________________________________
.project__text
  width: 49%

.project__description
  max-width: none !important

// FOOTER ______________________________________________________________________
.project__footer
  display: flex
  justify-content: space-between
  width: 100%

.project__footer__heading
  margin-top: 0
  margin-bottom: 0.775rem
  font-size: 1.25rem
  display: flex
  align-items: center
  +anti-aliased

  &.techs
    color: $primary

  &.techs::before
    +make-line(100%)
    margin-right: 0.775rem

  &.links::after
    +make-line(100%)
    margin-left: 0.775rem


.project__techs
  width: 47%
  text-align: right

.project__links
  width: 47%

.project__icon
  width: 50px
