@import '../../_sass/_constants.sass'
@import '../../_sass/_breakpoints.sass'

.page-template
  display: flex
  flex-direction: column
  align-items: center
  width: 100%

.article-heading::before
  display: block
  content: ""
  margin: 0 auto 1.125rem auto
  width: .5rem
  height: 5.125rem
  border-left: 1px solid $mid-grey

.section-header
  position: relative
  background-color: #fff
  z-index: 5

.section__heading
  height: auto
  margin-left: auto
  margin-right: auto
  width: 90%

// FOOTER ______________________________________________________________________
.end-footer
  width: 100%
  font-weight: bold
  text-align: right
  padding: 1rem 1.82rem
  background-image: linear-gradient(-269deg, #c15454 19%, #b85050 35%, #a84a4a 57%, #9d4545 70%)
  color: #fdfdfd
  +anti-aliased

// ANIMATIONS __________________________________________________________________
=transition-animation($y)
  opacity: 0
  transform: scale(0.9) translate(0, $y)
  transition: .7s ease-out

.fade-side
  opacity: 1
  transform: translate(0, 0)
  transition: 1s

.fade-left
  opacity: 0
  transform: translate(-100px, 0)

.fade-right
  opacity: 0
  transform: translate(100px, 0)

.transition-animation
  opacity: 1
  transform: scale(1) translate(0, 0)

.transition-animation-up--init
  +transition-animation(200px)

.transition-animation-down--init
  +transition-animation(-200px)

+for-tablet-landscape-up
  .section__heading
    height: 7.71rem
