@import '../../_sass/_breakpoints.sass'

.top-nav
  font-family: 'Roboto Mono', monospace
  font-weight: normal
  width: 100%
  display: flex
  flex-wrap: wrap
  justify-content: center
  background-color: #fff
  position: fixed
  top: 0
  left: 0

.top-nav--open
  height: 100vh
  align-items: center
  justify-content: flex-start
  flex-direction: column

.top-nav__on-top
  width: 100%
  display: flex
  flex-wrap: wrap
  align-items: center
  justify-content: space-between
  padding: 0 .75rem
  height: 4.236rem

.subline
  height: 1px
  width: 85%
  background-color: #e1e1e1

// HAMBURGER ___________________________________________________________________
.hamburger
  display: flex
  justify-content: flex-end
  width: 25%

// LIST ________________________________________________________________________
.nav__list
  display: flex
  flex-direction: column
  list-style: none
  padding: 0
  justify-content: space-around
  flex-grow: 2
  width: 100%
  margin-top: 0

// LINK ________________________________________________________________________
.top-nav__link
  text-transform: uppercase
  font-size: 1.618rem
  color: #9b9b9b
  text-decoration: none
  transition: .5s

.top-nav__link:hover
  color: #3b3b3b
  transition: .5s

// LOGO ________________________________________________________________________
.logo
  width: 3.272rem

.logo-container
  display: flex
  align-items: center
  width: 75%

// DESKTOP _____________________________________________________________________
+for-desktop-up
  .top-nav
    height: 8.567rem
    width: 100%
    padding: 0 4.236rem

  .top-nav__on-top
    align-items: center

  .subline
    height: 2px
    width: 75%

  // LIST
  .top-nav__list
    flex-grow: 2
    justify-content: space-around

  // LOGO
  .logo-container::after
    content: '=>'
    font-size: 3.272rem
    margin-left: 1.618rem
    color: #e1e1e1
    display: inline-block

  // HAMBURGER
  .hamburger
    display: none
