@import '../../_sass/_constants.sass'
@import '../../_sass/_breakpoints.sass'

.home-container
  background-image: url('./hero.png')
  background-repeat: no-repeat
  background-position: left bottom
  background-size: cover
  border-top: 6.854rem transparent solid
  width: 100%
  height: 100vh
  overflow: hidden

.home-content
  padding-top: 10%
  width: 100%
  height: 100%
  display: flex
  flex-direction: column
  justify-content: space-between
  align-items: center
  +anti-aliased

.curtain
  width: 100%
  height: 100%
  background-color: rgba(0, 0, 0, .75)


// PRESENTATION ________________________________________________________________
.presentation
  line-height: 1

.name
  font-size: 1.618rem
  color: $primary
  margin: 0
  margin-bottom: 1.618rem
  align-self: flex-start

.semi
  font-weight: bold
  color: $white
  text-transform: uppercase

// TITLE WITH SUB ______________________________________________________________
.title-sub
  color: $white
  display: flex
  flex-direction: column
  align-items: flex-end
  margin-bottom: 2.618rem

.job-title
  font-size: 3.272rem
  font-weight: 900
  margin-top: 0
  margin-bottom: 0.773rem
  text-transform: uppercase

.job-sub
  font-size: 1.618rem

.job-sub::before
  content: ''
  height: .5rem
  width: 8.567rem
  display: inline-block
  border-top: 1px $primary solid
  margin-right: 1rem

.job-sub--shorter::before
  width: 1.618rem

// CONTROLS ____________________________________________________________________
.controls
  flex-grow: 2
  display: flex
  flex-direction: column
  justify-content: flex-end

// LANDSCAPE BREAKPOINT -- MOBILE ______________________________________________
+for-phone-portrait
  .home-container
    border-top: 3.272rem rgba(0, 0, 0, .75) solid
    background-position: center

  .presentation
    display: flex
    justify-content: space-around
    align-items: flex-end
    width: 100%

  .home-content
    padding-top: 1.618rem

// TABLET BREAKPOINT -- PORTRAIT _______________________________________________
+for-tablet-portrait-up
  .home-container
    background-position: center

  .home-content
    padding-top: 20%

  // PRESENTATION
  .presentation
    padding-right: 3.272rem
    align-self: flex-end

  // TITLE WITH SUB
  .name
    font-size: 1.618rem

  .job-title
    font-size: 5.295rem

  .job-sub
    font-size: 2.023rem

  .job-sub::before
    width: 17.942rem

  .job-sub--shorter::before
    width: 5.295rem

  // CONTROLS
  .controls
    width: 50%
    align-items: center

// TABLET BREAKPOINT -- PORTRAIT _______________________________________________
+for-tablet-landscape-up
  .home-content
    padding-top: 5%

  .curtain
    background-color: transparent

  .home-container
    background-position: left bottom
    background-size: contain

// DESKTOP BREAKPOINT __________________________________________________________
+for-desktop-up
  .home-container
    border-top: 4.236rem transparent solid

  .home-content
    padding-top: 10%
    width: 90%
    align-items: flex-end

  .presentation
    padding: 0
    width: 46%
    display: flex
    flex-direction: column
    align-items: flex-end

  .name
    font-size: 2.023rem

  // TITLE WITH SUB
  .title-sub
    width: 100%

  .title-sub--half
    width: 75%

  .job-title
    font-size: 5.295rem
    align-self: flex-start

  .job-sub
    font-size: 2.618rem

  .job-sub--shorter::before
    width: 11.089rem

// DESKTOP BIG BREAKPOINT ______________________________________________________
+for-big-desktop-up
  .job-title
    font-size: 6.854rem

  .job-sub
    font-size: 3.272rem

  .name
    font-size: 2.618rem

  .job-sub::before
    width: 22.428rem

  .job-sub--shorter::before
    width: 13.861rem
